:root {
  --max-width: 1200px;
  --cyan: rgba(0, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

body {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */ "avenir next", avenir, /* MacOS and iOS */ "Segoe UI",
    /* Windows */ "lucida grande", /* Older MacOS */ "helvetica neue", helvetica, /* Older MacOS */ "Fira Sans", /* Firefox OS */ roboto, noto,
    /* Google stuff */ "Droid Sans", /* Old Google stuff */ cantarell, oxygen, ubuntu, /* Linux stuff */ "franklin gothic medium", "century gothic",
    /* Windows stuff */ "Liberation Sans", /* Linux */ sans-serif; /* Everything else */
  color: #757575;
  /*background-color: #800000;
  background: linear-gradient(135deg, rgba(128,0,0,1) 25%, rgba(214,84,14,1) 100%);*/
  background-image: url("./Images/PaisleyBadge.png");
  background-position: center;
  background-size: 16%;
  background-repeat: repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

header {
  max-width: var(--max-width);
  background-color: rgb(0, 255, 255);
  background: linear-gradient(135deg, rgb(0, 87, 87), rgba(0, 255, 255, 1), rgb(0, 87, 87));
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.title {
  color: black;
  opacity: 0.6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  padding: 20%;
}

h1 {
  padding: 1em;
  margin: 0;
}

hgroup img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  opacity: 1;
}

nav {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  max-width: var(--max-width);
  top: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 14px;
  border-bottom: 0.05em solid rgba(52, 48, 48);
}

nav li {
  padding: 0.5em 1em;
  display: inline-block;
}

nav a {
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: white;
}

nav a:hover {
  color: #808080;
}

section {
  max-width: var(--max-width);
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 0.05em solid rgba(52, 48, 48, 0.35);
}

.section--about,
.section--music,
.section--voice,
.section--sounddesign {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section--about,
.section--voice {
  flex-direction: row-reverse;
}

.section__title {
  margin: 0;
  font-size: 3em;
  letter-spacing: -0.04em;
  padding: 5vh 5vw;
  flex: 1 1 400px;
  max-width: 100%;
  text-align: right;
}

@media (max-width: 831px) {
  .section__title {
    text-align: left;
    font-size: 2em;
    padding-bottom: 0;
  }
}

.section__title h2 {
  margin: 0;
}

.section__title p {
  font-size: 0.875rem;
  letter-spacing: 0;
  color: rgb(92, 92, 92);
  margin: 0;
}

.section--about .section__title,
.section--voice .section__title {
  text-align: left;
}

.section__content {
  width: 400px;
  max-width: 100%;
  padding: 10vh 10vw;
  flex: 1 0 400px;
  background: rgba(0, 0, 0, 0.35);
}

.section__content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section__content__list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 1em 0;
}

.section__content__list button {
  margin: 0 0.5em 0 0;
  padding: 0;
  max-width: 3em;
  padding: 0;
  list-style-type: none;
  border: none;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.section__content__list__description {
  font-weight: 600;
  color: var(--cyan);
}

.section__content__list__description small {
  margin: 0.25em 0 0;
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.025em;
  color: white;
}

.section__content__list__button:hover,
.section__content__list__button:focus {
  opacity: 1;
}

.section--contact {
  padding-top: 2em;
  color: white;
  background-color: black;
  text-align: center;
}

.section--contact a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 0.025em;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.section--contact a:hover,
.section--contact a:focus {
  opacity: 1;
}

.text-center {
  text-align: center;
}

.serviceimg {
  border-radius: 50%;
}

footer {
  max-width: var(--max-width);
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  bottom: 0;
  align-items: center;
}

/* ------------------------------------------------------Audio Player------------------------------------------------------------------------*/
.audio-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.audio-controls {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 5px;
}

.audio-controls :hover {
  opacity: 1;
}

.audio-controls button {
  height: 28px;
  margin: 5px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.audio-controls img {
  height: 100%;
}

.audio-volume {
  margin: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 10%;
}

.details {
  flex: 1 0 auto;
  margin: 10px;
  text-align: center;
  flex-shrink: 0;
  border-left: 0.05em solid rgba(52, 48, 48, 0.35);
  border-right: 0.05em solid rgba(52, 48, 48, 0.35);
}

.audio-progress {
  flex: 1rem;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: coulumn;
  justify-content: left;
  max-width: 40%;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgb(0, 255, 255);
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  width: 100%;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 1em;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.audio-volume .volume-slider {
  margin: 10px;
  width: 100%;
  height: 100%;
}

.now-playing {
  font-size: 0.7rem;
  padding: 0.2rem;
}

.track-name {
  font-size: 0.7rem;
  padding: 0.2rem;
}

.current-time,
.total-duration {
  padding: 0.2rem;
}

@media (max-width: 831px) {
  .mute-track,
  .audio-volume,
  .current-time,
  .audio-progress {
    display: none;
  }
}
